@use './public-menu';
@use './login';
@use './contacto';
@use './public-footer';
@use './publicaciones';
@use './publicacion';
@use './clinicas';
@use './equipo';
@use './servicios';
@use './admin-usuarios';
@use './admin-publicaciones';
@use './inicio';
@use './cookie-banner';

html {
    font-family: "Questrial", sans-serif !important;
    font-size: 18px;
}

[x-cloak] {
    display: none !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;