@import "variables";

/* resources/css/public-footer.css */
@layer components {
    .public-footer {
        background: #A2C9D8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .public-footer-top {
        display: flex;
        top: -5%;
        padding: 2rem 1rem;
        text-align: center;
    }

    .public-footer-services {
        display: inline-flex;
        gap: 4rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .service-pill {
        background: #E2E7E8;
        padding: 0.75rem 3rem;
        border-radius: 9999px;
        text-decoration: none;
        font-weight: 600;
        line-height: 1.2;
        text-align: center;
        transition: transform .2s;
    }

    .service-pill:hover {
        transform: scale(1.05);
    }

    .service-phone {
        font-size: 0.875rem;
        display: block;
    }

    .public-footer-middle {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
        gap: 2rem;
        max-width: 1120px;
        margin: 0 auto;
        padding: 2rem 1rem;
    }

    .footer-logo {
        padding: .5rem;
        background: $color1;
        border-radius: 1rem;
    }

    .footer-logo img {
        height: 4rem;
        border-radius: 1rem;
    }

    .footer-info-list {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .footer-info-item {
        display: flex;
        gap: 0.75rem;
        max-width: 16rem;
    }

    .footer-info-item .icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: #627D9C;
        flex-shrink: 0;
    }

    .footer-info-item h4 {
        font-weight: bold;
        margin-bottom: 0.25rem;
    }

    .footer-info-item p {
        line-height: 1.4;
        font-size: 0.875rem;
    }

    .public-footer-bottom {
        width: 60%;
        border-top: 1px solid #374151;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        font-size: 0.875rem;
    }

    .footer-legal a {
        margin-left: 1rem;
        text-decoration: none;
        transition: color .2s;
    }

    .footer-legal a:hover {
        color: #ffffff;
    }
}