// Body
$color1: #DDD2C9;
$color2: #A2C9D8;
$color3: #E2E7E8;
$colorTexto: #4B5563;
$colorSubtitulo: #1F2937;
$blanco: #ffffff;
$negro: #000000;

// Typography
html {
    font-family: "Questrial", sans-serif;
    font-size: 18px;
    line-height: 1.6;
}